<!DOCTYPE html> <!-- Объявление типа документа -->
<html lang="en"> <!-- Начало HTML-документа с указанием языка -->
<head>
    <meta charset="UTF-8"> <!-- Установка кодировки символов для документа -->
    <title>Title</title> <!-- Установка заголовка страницы -->
</head>
<body>
    {% extends "learning_logs/base.html" %} <!-- Расширение шаблона базового HTML-документа -->
    {% block content %} <!-- Начало блока контента, который будет вставлен в базовый шаблон -->
        <p> You have been log out .</p>
    {% endblock content %} <!-- Завершение блока контента -->
</body>
</html> <!-- Завершение HTML-документа -->